@tailwind base ;
@tailwind components ;
@tailwind utilities ;

body {
    @apply bg-green-50 ;
}

@layer components {
    
}

@keyframes example {
    0%,100% {
        border-color: #cbd5e1;
        color:#cbd5e1;
        stroke: #cbd5e1;
    }
    50% {
        border-color: #4338ca;
        color:#4338ca;
        stroke:#4338ca
    }
}

#exdiv,#icnImg {
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
