@tailwind base ;
@tailwind components ;
@tailwind utilities ;

body {
    @apply bg-green-50 ;
}

@layer components {
    
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

#exdiv {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  }